*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor{
    height: 98vh;
    width: 98vw;
    margin: auto;
    margin-top: 8px;
    position: relative;
}



.cajita__izq--superior {
    background-color: rgb(246, 147, 147);
    width: 200px;
    height: 100px;
}

.cajita__izq--abajo {
    background-color: rgb(251, 251, 219);
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.cajita__dere--superior {
    background-color: rgb(253, 253, 170);
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.cajita__dere--abajo {
    background-color: rgb(109, 96, 159);
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#centro {
    background-color: rgb(154, 238, 213);
    width: 200px;
    height: 100px;
    position: absolute;
    top: 43vh;
    left: 43vw;
}
#centro2 {
    background-color: rgb(162, 162, 162);
    width: 200px;
    height: 100px;
    position: absolute;
    top: 48vh;
    left: 46vw;
}





